doctype html

html
  head
    meta(
      charset='utf-8'
    )
    title Index
    link(
      rel='stylesheet'
      href='css/main.css'
    )
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Titillium+Web'
    )
  body
    section
      .firstPart
        .container-fluid
          .row
            .col-md-4
               h2.firstPart--text brushed
            .col-md-4
            .col-md-4
      .secondPart
        nav.nav1
          .nav--firstPart
            .nav-arrow <
            .nav-arrow.nav-arrow-right >
            .nav-right v
            .nav-point.np1
            .nav-point.np2
            .nav-point.np3
          .nav--menu
            .nav--menu-logo brushed
            ul.nav--menu-items
              li.nav--menu-item home
              li.nav--menu-item our work
              li.nav--menu-item about us
              li.nav--menu-item contact
          .row
            .secondPart--main-content
              h2.secondPart--h2-text Our Work
              .secondPart--text See Also Great Stuff of Dribbble.
            .col-md-4
              .secondPart--box.box1
              .secondPart--box.box4
            .col-md-4
              .secondPart--box.box2
            .col-md-4
              .secondPart--box.box3
              .secondPart--box.box5
      .thirdPart
        .row
          .thirdPart--main-content
            h2.thirdPart--h2-text About  Us
            .thirdPart--text The most important thing to us is building products people love.
          .col-md-4
            .thirdPart--box.box21
            h3.thirdPart--header.first-name John Doe
            .thirdPart--descr.first-name Our work was redesigning and outdated user interface of Rotix, a puzzle game. we used simple bright colors and a clean approach to produce a stunning pixel-perfect UI.
            .thirdPart-bottom
              h3.thirdPart-bottom--header
                span.thirdPart-bottom--header-colored-part New
                span.thirdPart-bottom--header-text brashed- premium one page html/css template
              .thirdPart-bottom--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .thirdPart--button
                .thirdPart--button-text perchase
          .col-md-4
            .thirdPart--box.box22
              .box-text cto / founder
            h3.thirdPart--header.second-name John Doe
            .thirdPart--descr.second-name Our work was redesigning and outdated user interface of Rotix, a puzzle game. we used simple bright colors and a clean approach to produce a stunning pixel-perfect UI.
          .col-md-4
            .thirdPart--box.box23
            h3.thirdPart--header.third-name John Doe
            .thirdPart--descr.third-name Our work was redesigning and outdated user interface of Rotix, a puzzle game. we used simple bright colors and a clean approach to produce a stunning pixel-perfect UI.
