doctype html

html
  head
    meta(
      charset='utf-8'
    )
    title Index
    link(
      rel='stylesheet'
      href='css/main.css'
    )
    link(
      rel='stylesheet'
      type='text/css'
      href='//fonts.googleapis.com/css?family=Raleway'
    )
  body
    section
      .firstPart
        .container-fluid
          .row
            .col-md-4
               h2.firstPart--text brushed
            .col-md-4
            .col-md-4
      .secondPart
        nav.nav1
          .nav--firstPart
          .nav--menu
          .row
            .col-md-4
               h2.secondPart--text brushed
            .col-md-4
            .col-md-4
